body {
    font-family: 'Monterserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;  }

/*Header Style here*/

header {
    background-color: #b9bf1b;
    padding: 1rem 2%;     }

header h1 {
    text-align: center;
    margin: 0;
    color: #231f20; }

header p {
    text-align: center;
    margin: 0;
    color: #231f20;
    letter-spacing: .5px;   }

/*Nav Style here*/

nav {
    background-color: #54a3c6;  }

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;  }

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #231f20;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;   }

nav li.active a {
    background-color: #d81409;
        color: #231f20; }

nav a:hover {
    color: #b9bf1b;   }

/*Main Style here*/

main {
    padding: 1rem 2vw;  }

main h1 {
    margin-bottom: .2rem;
    margin-top: .2rem;
    color: #d81409; }

main h2 {
    color: #54a3c6;
    margin-bottom: .2rem;   }

main p {
    color: #231f20;
    margin: 0 0 .3rem 0;    }

main ol {
    color: #231f20;
    padding: .5rem 3vw;
    width: 12.5rem;
    background-color: #b9bf1b;
    border: 2px solid #d81409;
    border-radius: .5rem; }

main dl dt {
    color: #d81409;
    font-weight: 700;}

main dl dd {
    padding-right: 3vw;
    color: #231f20;
    font-size: .9rem;   }

main ul {
    list-style-type: square;   }

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;   }

main address {
    font-style: normal;
    background-color: #b9bf1b;
    padding: .5rem;
    width: 12.5rem;
    border: 2px solid #d81409;
    border-radius: .5rem;}

main a {
    color: #d81409; }

main a:hover {
    color: #54a3c6;   }

/*Footer Style here*/

footer {
    background-color: #b9bf1b;
    text-align: center;
    color: #231f20;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #231f20;
}